@using Blazored.Toast.Configuration
@inherits LayoutComponentBase
<div>
    @Body
</div>

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="04"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug"
            />