@page "/Index"
@using LogisticsCenterAPP.Helpers
@using LogisticsCenterAPP.Services
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager navigation
@attribute [Authorize]
@using  System.Security
@using System.Security.Claims
@using System.Text
@using Microsoft.Extensions.Configuration
@using Microsoft.IdentityModel.Tokens
@using System.IdentityModel.Tokens.Jwt
@inject ISessionStorageServices sessionStorage 
@inject Utls utls
@inject IConfiguration _configuration


    <AuthorizeView >
        <Authorized >
         @* <h6>you are logged, @username</h6>*@
        </Authorized>

        <NotAuthorized>
           @*<h6> you are not logged, @username</h6> *@
        </NotAuthorized>
    </AuthorizeView>
 
     <div class="container">
           
         @if (AdministrationrAccess == true || SupplierAccess == true)
         {
                <div @onclick="ReturnAddInvoice" class="carddd"> 
                <div class="text">
                     <b>Add Invoice</b>
                </div>
                <span>
                    <i style="font-size:100px" class="fa-solid fa-file-invoice"></i>
                </span>
            </div>
         }

        <div @onclick="RedirectListInvoice" class="carddd"> 
            <div class="text">
                 <b>List Invoice</b>
            </div>
            <span> 
                <i  style="font-size:100px" class="fa-solid fa-list-check"></i>
            </span>
        </div>
       @if (AdministrationrAccess == true)
       {
        <div @onclick="RedirectListAccounts" class="carddd"> 
            <div class="text">
                 <b>Accounts</b>
            </div>
            <span>
                <i style="font-size:100px" class="fa-solid fa-list-ol"></i>
            </span>
        </div>
       }
     </div>

@code
{
 
    public void ReturnAddInvoice()
    { 

        navigation.NavigateTo("/SubmitInvoice");
    }
    public void RedirectListInvoice()
    {
        navigation.NavigateTo("/Invoices");
    }
    public void RedirectListAccounts()
    {
        navigation.NavigateTo("/Accounts");
    }
}